body{
    font-family: 'Nunito', sans-serif;
}
h1{
    font-size: 55px;
    
}
.name{
    color: darkorange;
}
.half{
    width: 40%;
    float: left;
    margin-left: 2%;
}
.half img{
    width: 100%;
}